@model IEnumerable<FPTGreenManagement.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Course Index</h2>
<div class="form-group">
    @Html.ActionLink(
             "Create new Course",
             "Create",
             "Courses",
             null,
             new { @class = "btn btn-primary" }
             )
</div>

@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
    @Html.TextBox("searchString", "")
    <button type="submit"><i class="fa fa-search"></i></button>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.CourseName</td>
                <td>@course.Description</td>
                <td>@course.Category.CategoryName</td>
                <td>

                    @Html.ActionLink("Detail", "Detail", "Courses", new { id = course.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit", "Edit", "Courses", new { id = course.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "Courses", new { id = course.Id }, new { @class = "btn btn-danger" })


                </td>
            </tr>

        }
    </tbody>
</table> 